src/templates/contato.jade
extends ./_template

block menu
    - var current = 'Contato'

block content
    .title.contato
        .center
            h2= current

    #map-embed
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.066192752494!2d-46.56674650000005!3d-23.6378004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5ccd1f928393%3A0xa1db95cd300752e2!2sR.+Lourdes%2C+560+-+Nova+Gerti%2C+S%C3%A3o+Caetano+do+Sul+-+SP%2C+09571-470!5e0!3m2!1spt-BR!2sbr!4v1423565408971" width="100%" height="300" frameborder="0"></iframe>

    #contato.center
        .informacoes
            .left
                p Rua Lourdes, 560 - Bairro Nova Gerty
                p São Caetano do Sul - SP - CEP: 09571-470
            .right
                p #[span +55 11] 4239-5544 #[span /] 4238-2555
                a(href='mailto:comercial@scanchip.com.br') comercial@scanchip.com.br
        form(action='#', method='post', id='form-contato')
            .left
                input(type='text', name='nome', id='nome', placeholder='Nome')
                input(type='text', name='empresa', id='empresa', placeholder='Empresa')
                input(type='email', name='email', id='email', placeholder='E-mail')
                input(type='text', name='telefone', id='telefone', placeholder='Telefone')
            .right
                textarea(name='mensagem', id='mensagem', placeholder='Mensagem')
                input(type='submit', value='Enviar')

build/contato.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html" class="active">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title contato">
      <div class="center">
        <h2>Contato</h2>
      </div>
    </div>
    <div id="map-embed"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.066192752494!2d-46.56674650000005!3d-23.6378004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5ccd1f928393%3A0xa1db95cd300752e2!2sR.+Lourdes%2C+560+-+Nova+Gerti%2C+S%C3%A3o+Caetano+do+Sul+-+SP%2C+09571-470!5e0!3m2!1spt-BR!2sbr!4v1423565408971" width="100%" height="300" frameborder="0"></iframe></div>
    <div id="contato" class="center">
      <div class="informacoes">
        <div class="left">
          <p>Rua Lourdes, 560 - Bairro Nova Gerty</p>
          <p>São Caetano do Sul - SP - CEP: 09571-470</p>
        </div>
        <div class="right">
          <p><span>+55 11</span> 4239-5544 <span>/</span> 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
      </div>
      <form action="#" method="post" id="form-contato">
        <div class="left">
          <input type="text" name="nome" id="nome" placeholder="Nome">
          <input type="text" name="empresa" id="empresa" placeholder="Empresa">
          <input type="email" name="email" id="email" placeholder="E-mail">
          <input type="text" name="telefone" id="telefone" placeholder="Telefone">
        </div>
        <div class="right">
          <textarea name="mensagem" id="mensagem" placeholder="Mensagem"></textarea>
          <input type="submit" value="Enviar">
        </div>
      </form>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a>
          </div>
          <div class="col"><a href="normas.html">Normas para Elevadores</a><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html" class="active">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
