build/cursos.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html" class="active">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title">
      <div class="center">
        <h2>Solicite um Curso</h2>
      </div>
    </div>
    <div id="cursos" class="center">
      <form action="#" method="post" id="form-cursos">
        <div class="form-group">
          <label for="curso">Curso</label>
          <select name="curso" id="curso">
            <option>Lorem ipsum dolor sit amet</option>
            <option>Consectetur adipisicing elit, veniam doloremque aperiam adipisci</option>
          </select>
        </div>
        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input type="text" name="empresa" id="empresa">
        </div>
        <div class="form-group">
          <label for="responsavel">Responsável</label>
          <input type="text" name="responsavel" id="responsavel">
        </div>
        <div class="form-group cep">
          <label for="cep">CEP</label>
          <input type="text" name="cep" id="cep">
        </div>
        <div class="form-group endereco">
          <label for="endereco">Endereço</label>
          <input type="text" name="endereco" id="endereco">
        </div>
        <div class="form-group cidade">
          <label for="cidade">Cidade</label>
          <input type="text" name="cidade" id="cidade">
        </div>
        <div class="form-group estado">
          <label for="estado">Estado</label>
          <select name="estado" id="estado">
            <option disabled selected></option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AM">Amazonas</option>
            <option value="AP">Amapá</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RO">Rondônia</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SE">Sergipe</option>
            <option value="SP">São Paulo</option>
            <option value="TO">Tocantins</option>
          </select>
        </div>
        <div class="form-group telefone">
          <label for="telefone">Telefone</label>
          <input type="text" name="telefone" id="telefone">
        </div>
        <div class="form-group email">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="form-group">
          <label for="observacoes">Observações</label>
          <textarea name="observacoes" id="observacoes"></textarea>
        </div>
        <input type="submit" value="Enviar">
      </form>
      <div class="imagem"><img src="assets/img/layout/cursos_foto.jpg"></div>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a>
          </div>
          <div class="col"><a href="normas.html">Normas para Elevadores</a><a href="cursos.html" class="active">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/cursos.jade
extends ./_template

block menu
    - var current = 'Solicite um Curso'

block content
    .title
        .center
            h2= current

    #cursos.center
        form(action='#', method='post', id="form-cursos")
            .form-group
                label(for='curso') Curso
                select(name='curso', id='curso')
                    option Lorem ipsum dolor sit amet
                    option Consectetur adipisicing elit, veniam doloremque aperiam adipisci
            .form-group
                label(for='empresa') Empresa
                input(type='text', name='empresa', id='empresa')
            .form-group
                label(for='responsavel') Responsável
                input(type='text', name='responsavel', id='responsavel')
            .form-group.cep
                label(for='cep') CEP
                input(type='text', name='cep', id='cep')
            .form-group.endereco
                label(for='endereco') Endereço
                input(type='text', name='endereco', id='endereco')
            .form-group.cidade
                label(for='cidade') Cidade
                input(type='text', name='cidade', id='cidade')
            .form-group.estado
                label(for='estado') Estado
                select(name='estado', id='estado')
                    option(disabled, selected)
                    - var estados = {"AC":"Acre", "AL":"Alagoas", "AM":"Amazonas", "AP":"Amapá","BA":"Bahia","CE":"Ceará","DF":"Distrito Federal","ES":"Espírito Santo","GO":"Goiás","MA":"Maranhão","MT":"Mato Grosso","MS":"Mato Grosso do Sul","MG":"Minas Gerais","PA":"Pará","PB":"Paraíba","PR":"Paraná","PE":"Pernambuco","PI":"Piauí","RJ":"Rio de Janeiro","RN":"Rio Grande do Norte","RO":"Rondônia","RS":"Rio Grande do Sul","RR":"Roraima","SC":"Santa Catarina","SE":"Sergipe","SP":"São Paulo","TO":"Tocantins"}
                    each estado, sigla in estados
                        option(value=sigla)= estado
            .form-group.telefone
                label(for='telefone') Telefone
                input(type='text', name='telefone', id='telefone')
            .form-group.email
                label(for='email') E-mail
                input(type='email', name='email', id='email')
            .form-group
                label(for='observacoes') Observações
                textarea(name='observacoes', id='observacoes')

            input(type='submit', value='Enviar')

        .imagem: img(src='assets/img/layout/cursos_foto.jpg')
