src/templates/index.jade
mixin menu_item(title, url)
    a(href=url)= title

doctype html
html
    head
        title Scanchip
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Scanchip')
        link(rel='stylesheet', href="assets/css/main.css")

    body
        .bg-home
        header.home.center
            a(href='index.html'): h1 Scanchip
            nav
                .top_menu
                    +menu_item('Institucional', 'institucional.html')
                    +menu_item('Produtos', 'produtos.html')
                    +menu_item('Cadastro', 'cadastro.html')
                    +menu_item('Suporte', 'suporte.html')
                    +menu_item('Normas para Elevadores', 'normas.html')
                .bottom_menu
                    +menu_item('Solicite um Curso', 'cursos.html')
                    +menu_item('Orçamento', 'orcamento.html')
                    +menu_item('Trabalhe Conosco', 'trabalhe-conosco.html')
                    +menu_item('Contato', 'contato.html')
                    ul.social
                        li: a.facebook(href='#') facebook
                        li: a.twitter(href='#') twitter
            ul.lang
                li: a.en(href='#') inglês
                li: a.es(href='#') espanhol

        .home-slider.center
            a(href='#')#prev Anterior
            a(href='#')#next Próximo
            .slide
                h2 Lorem ipsum dolor
                h3 Lorem ipsum dolor sit amet, consectetur.
                a(href='#') Saiba mais
            .slide
                h2 Inventore provident ipsum magnam
                h3 Lorem ipsum dolor sit amet, consectetur.
                a(href='#') Saiba mais
            .slide
                h2 Numquam nam dolorem eius
                h3 Lorem ipsum dolor sit amet, consectetur.
                a(href='#') Saiba mais

        .aviso
            .icone
            :markdown
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sed, ab consequatur! [Exemplo de link](#) mol estiae consequatur rerum exercitationem deleniti iusto modi illo, consequuntur facilis corporis numquam perspiciatis laboriosam quibusdam magnam nostrum.

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
        script(src='assets/js/jquery.cycle2.min.js')
        script(src='assets/js/main.js')

build/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div class="bg-home"></div>
    <header class="home center"><a href="index.html">
        <h1>Scanchip</h1></a>
      <nav>
        <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html">Normas para Elevadores</a>
        </div>
        <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          <ul class="social">
            <li><a href="#" class="facebook">facebook</a></li>
            <li><a href="#" class="twitter">twitter</a></li>
          </ul>
        </div>
      </nav>
      <ul class="lang">
        <li><a href="#" class="en">inglês</a></li>
        <li><a href="#" class="es">espanhol</a></li>
      </ul>
    </header>
    <div class="home-slider center"><a href="#" id="prev">Anterior</a><a href="#" id="next">Próximo</a>
      <div class="slide">
        <h2>Lorem ipsum dolor</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur.</h3><a href="#">Saiba mais</a>
      </div>
      <div class="slide">
        <h2>Inventore provident ipsum magnam</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur.</h3><a href="#">Saiba mais</a>
      </div>
      <div class="slide">
        <h2>Numquam nam dolorem eius</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur.</h3><a href="#">Saiba mais</a>
      </div>
    </div>
    <div class="aviso">
      <div class="icone"></div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sed, ab consequatur! <a href="#">Exemplo de link</a> mol estiae consequatur rerum exercitationem deleniti iusto modi illo, consequuntur facilis corporis numquam perspiciatis laboriosam quibusdam magnam nostrum.</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
