src/templates/institucional.jade
extends ./_template

block menu
    - var current = 'Institucional'

block content
    .title
        .center
            h2= current

    #institucional.center
        .imagem: img(src='assets/img/layout/institucional_foto.jpg')
        .texto
            :markdown
                **SCANCHIP TECNOLOGIA**, fundada no ano de 1998 vem atuando no desenvolvimento e na fabricação de produtos eletrônicos de *alta qualidade e tecnologia*.

                Em 2001 desenvolvemos o Comando Eletrônico Convencional para Elevadores, e devido à aprovação de nossos clientes, partimos para um grande desafio, o exclusivo e mais avançado *Comando Serial* para chamadas e sinalização.

                Após um período de desenvolvimento e teste em campo, em 2005 passamos a produzir o Comando Serial. E foi com grande satisfação que nossos clientes aprovaram sem nenhuma restrição.

                Com o novo *Comando Eletrônico Serial Scanchip*, nossos clientes passam a ter as seguintes vantagens:

                - Comando com o mínimo de ligações;
                - Chicote do poço e da cabina com redução de 40% a 70% na fiação;
                - Redução de aproximadamente 70% na mão-de-obra para a instalação.

                Com estas vantagens e muitas outras o Comando Serial Double Wire, possibilitará aos nossos clientes realizarem muitos negócios, sem aumentarem seus custos.

                Acredite e use: **Scanchip, alta tecnologia ao seu alcance**!

build/institucional.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html" class="active">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title">
      <div class="center">
        <h2>Institucional</h2>
      </div>
    </div>
    <div id="institucional" class="center">
      <div class="imagem"><img src="assets/img/layout/institucional_foto.jpg"></div>
      <div class="texto"><p><strong>SCANCHIP TECNOLOGIA</strong>, fundada no ano de 1998 vem atuando no desenvolvimento e na fabricação de produtos eletrônicos de <em>alta qualidade e tecnologia</em>.</p>

<p>Em 2001 desenvolvemos o Comando Eletrônico Convencional para Elevadores, e devido à aprovação de nossos clientes, partimos para um grande desafio, o exclusivo e mais avançado <em>Comando Serial</em> para chamadas e sinalização.</p>

<p>Após um período de desenvolvimento e teste em campo, em 2005 passamos a produzir o Comando Serial. E foi com grande satisfação que nossos clientes aprovaram sem nenhuma restrição.</p>

<p>Com o novo <em>Comando Eletrônico Serial Scanchip</em>, nossos clientes passam a ter as seguintes vantagens:</p>

<ul><li>Comando com o mínimo de ligações;</li><li>Chicote do poço e da cabina com redução de 40% a 70% na fiação;</li><li>Redução de aproximadamente 70% na mão-de-obra para a instalação.</li></ul>

<p>Com estas vantagens e muitas outras o Comando Serial Double Wire, possibilitará aos nossos clientes realizarem muitos negócios, sem aumentarem seus custos.</p>

<p>Acredite e use: <strong>Scanchip, alta tecnologia ao seu alcance</strong>!</p>
      </div>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html" class="active">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a>
          </div>
          <div class="col"><a href="normas.html">Normas para Elevadores</a><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
