build/normas.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html" class="active">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title">
      <div class="center">
        <h2>Normas para Elevadores</h2>
      </div>
    </div>
    <div id="normas" class="center">
      <div class="texto">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eum excepturi, doloribus iste nisi earum nobis sint sequi, quis possimus exercitationem consequuntur quas blanditiis nulla quibusdam perferendis incidunt provident illo, maxime fuga? Tenetur inventore sit, vero molestias dicta, sint ea natus facere quasi, atque sapiente tempora id repellendus ipsam voluptatibus ipsa asperiores aspernatur eum reiciendis quidem eligendi.</p>
        <p>Vel nulla quia dolor labore, odit similique totam ex maiores atque, optio odio, doloribus animi eaque saepe dolores praesentium adipisci beatae ipsam esse quos eveniet nihil! Hic accusamus impedit autem, ipsa quis atque officia fuga, harum iusto possimus, a voluptatum labore odit doloribus culpa illum deserunt beatae quia molestias laboriosam repudiandae sed! Doloremque fugit temporibus laudantium cum facere autem magnam laboriosam. Tempora, illum.</p>
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eum excepturi, doloribus iste nisi earum nobis sint sequi, quis possimus exercitationem consequuntur quas blanditiis nulla quibusdam perferendis incidunt provident illo, maxime fuga? Tenetur inventore sit, vero molestias dicta, sint ea natus facere quasi, atque sapiente tempora id repellendus ipsam voluptatibus ipsa asperiores aspernatur eum reiciendis quidem eligendi.</p>
        <p>Vel nulla quia dolor labore, odit similique totam ex maiores atque, optio odio, doloribus animi eaque saepe dolores praesentium adipisci beatae ipsam esse quos eveniet nihil! Hic accusamus impedit autem, ipsa quis atque officia fuga, harum iusto possimus, a voluptatum labore odit doloribus culpa illum deserunt beatae quia molestias laboriosam repudiandae sed! Doloremque fugit temporibus laudantium cum facere autem magnam laboriosam. Tempora, illum.</p>
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eum excepturi, doloribus iste nisi earum nobis sint sequi, quis possimus exercitationem consequuntur quas blanditiis nulla quibusdam perferendis incidunt provident illo, maxime fuga? Tenetur inventore sit, vero molestias dicta, sint ea natus facere quasi, atque sapiente tempora id repellendus ipsam voluptatibus ipsa asperiores aspernatur eum reiciendis quidem eligendi.</p>
        <p>Vel nulla quia dolor labore, odit similique totam ex maiores atque, optio odio, doloribus animi eaque saepe dolores praesentium adipisci beatae ipsam esse quos eveniet nihil! Hic accusamus impedit autem, ipsa quis atque officia fuga, harum iusto possimus, a voluptatum labore odit doloribus culpa illum deserunt beatae quia molestias laboriosam repudiandae sed! Doloremque fugit temporibus laudantium cum facere autem magnam laboriosam. Tempora, illum.</p>
      </div>
      <aside><img src="assets/img/layout/normas_foto.jpg">
        <div class="aside-texto">
          <h3>Lorem ipsum dolor sit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, molestias similique vero id eius quibusdam earum perspiciatis vitae tempore explicabo sint soluta repudiandae quas impedit! Inventore rerum eum omnis et, porro animi aut quidem, voluptatum, reiciendis odit sint commodi hic amet dignissimos corporis itaque nulla, dolore quia corrupti? Eveniet, fugit vero similique sapiente ratione incidunt, hic magni debitis provident itaque!</p>
        </div>
      </aside>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a>
          </div>
          <div class="col"><a href="normas.html" class="active">Normas para Elevadores</a><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/normas.jade
extends ./_template

block menu
    - var current = 'Normas para Elevadores'

block content
    .title
        .center
            h2= current

    #normas.center
        .texto
            - var n = 0
            while n < 3
                - n++
                h3 Lorem Ipsum
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eum excepturi, doloribus iste nisi earum nobis sint sequi, quis possimus exercitationem consequuntur quas blanditiis nulla quibusdam perferendis incidunt provident illo, maxime fuga? Tenetur inventore sit, vero molestias dicta, sint ea natus facere quasi, atque sapiente tempora id repellendus ipsam voluptatibus ipsa asperiores aspernatur eum reiciendis quidem eligendi.
                p Vel nulla quia dolor labore, odit similique totam ex maiores atque, optio odio, doloribus animi eaque saepe dolores praesentium adipisci beatae ipsam esse quos eveniet nihil! Hic accusamus impedit autem, ipsa quis atque officia fuga, harum iusto possimus, a voluptatum labore odit doloribus culpa illum deserunt beatae quia molestias laboriosam repudiandae sed! Doloremque fugit temporibus laudantium cum facere autem magnam laboriosam. Tempora, illum.

        aside
            img(src='assets/img/layout/normas_foto.jpg')
            .aside-texto
                h3 Lorem ipsum dolor sit
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, molestias similique vero id eius quibusdam earum perspiciatis vitae tempore explicabo sint soluta repudiandae quas impedit! Inventore rerum eum omnis et, porro animi aut quidem, voluptatum, reiciendis odit sint commodi hic amet dignissimos corporis itaque nulla, dolore quia corrupti? Eveniet, fugit vero similique sapiente ratione incidunt, hic magni debitis provident itaque!
