build/produto-detalhe.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html" class="active">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title">
      <div class="center">
        <h2>Nome do Produto</h2>
      </div>
    </div>
    <div id="produto-detalhe" class="center">
      <div class="descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis qui, quia saepe, non facilis itaque id asperiores, ad, iure rerum praesentium minus ipsam molestiae sapiente doloribus. Hic deserunt dolore veritatis esse, fugiat ipsa nulla beatae, laudantium sed temporibus atque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ea eum ex aut, et eveniet earum molestias eius est provident.</p>
        <div class="caracteristicas-wrapper"><a href="#" class="caracteristicas-trigger">Características</a>
          <ul class="caracteristicas">
            <li>Diversos modelos de acordo com sua necessidade</li>
            <li>Ótima durabilidade e resistência</li>
            <li>Versátil para diversas aplicações</li>
            <li>Modelos por senha, cartão, e biométrico</li>
            <li>Aplicável em qualquer comando</li>
          </ul>
        </div>
        <div class="botoes"><a href="#">Download manual [PDF]</a><a href="#">Solicite um orçamento</a></div><a href="produtos.html" class="voltar">« voltar</a>
      </div>
      <div class="produto-slider"><img src="assets/img/produtos/produto1.jpg"><img src="assets/img/produtos/produto2.jpg"><img src="assets/img/produtos/produto3.jpg">
        <div class="nav"><a id="prev" href="#"></a><a id="next" href="#"></a></div>
      </div>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html">Institucional</a><a href="produtos.html" class="active">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a>
          </div>
          <div class="col"><a href="normas.html">Normas para Elevadores</a><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/produto-detalhe.jade
extends ./_template

block menu
    - var current = 'Produtos'

block content
    .title
        .center
            h2 Nome do Produto

    #produto-detalhe.center
        .descricao
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis qui, quia saepe, non facilis itaque id asperiores, ad, iure rerum praesentium minus ipsam molestiae sapiente doloribus. Hic deserunt dolore veritatis esse, fugiat ipsa nulla beatae, laudantium sed temporibus atque.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ea eum ex aut, et eveniet earum molestias eius est provident.

            .caracteristicas-wrapper
                a(href='#').caracteristicas-trigger Características
                ul.caracteristicas
                    li Diversos modelos de acordo com sua necessidade
                    li Ótima durabilidade e resistência
                    li Versátil para diversas aplicações
                    li Modelos por senha, cartão, e biométrico
                    li Aplicável em qualquer comando

            .botoes
                a(href='#') Download manual [PDF]
                a(href='#') Solicite um orçamento

            a(href='produtos.html').voltar « voltar

        .produto-slider
            img(src='assets/img/produtos/produto1.jpg')
            img(src='assets/img/produtos/produto2.jpg')
            img(src='assets/img/produtos/produto3.jpg')
            .nav
                a#prev(href='#')
                a#next(href='#')
