build/produtos.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html" class="active">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a><a href="normas.html">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title">
      <div class="center"><a href="#" class="active">Quadro de Comando</a><a href="#">Acessórios</a><a href="#">Controle de Acesso</a><a href="#">Outros</a></div>
    </div>
    <div id="produtos" class="center"><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a><a href="produto-detalhe.html" class="thumb">
        <div class="imagem"><img src="assets/img/produtos/thumb.jpg"></div>
        <h4>Lorem ipsum dolor sit amet</h4></a>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html">Institucional</a><a href="produtos.html" class="active">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html">Suporte</a>
          </div>
          <div class="col"><a href="normas.html">Normas para Elevadores</a><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/produtos.jade
extends ./_template

block menu
    - var current = 'Produtos'

block content
    .title
        .center
            a(href='#').active Quadro de Comando
            a(href='#') Acessórios
            a(href='#') Controle de Acesso
            a(href='#') Outros

    #produtos.center
        - var n = 0
        while n < 8
            - n++
            a(href='produto-detalhe.html').thumb
                .imagem: img(src='assets/img/produtos/thumb.jpg')
                h4 Lorem ipsum dolor sit amet
