build/suporte.html
<!DOCTYPE html>
<html>
  <head>
    <title>Scanchip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scanchip">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="center"><a href="index.html">
          <h1>Scanchip</h1></a>
        <nav>
          <div class="top_menu"><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html" class="active">Suporte</a><a href="normas.html">Normas para Elevadores</a>
          </div>
          <div class="bottom_menu"><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
            <ul class="social">
              <li><a href="#" class="facebook">facebook</a></li>
              <li><a href="#" class="twitter">twitter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="lang">
          <li><a href="#" class="en">inglês</a></li>
          <li><a href="#" class="es">espanhol</a></li>
        </ul>
      </div>
    </header>
    <div class="title">
      <div class="center">
        <h2>Suporte</h2>
      </div>
    </div>
    <div id="suporte" class="center">
      <div class="contato">
        <p>+55 11 <span>4239-5544</span> / <span>4238-2555</span></p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a><img src="assets/img/layout/suporte_foto.jpg">
      </div>
      <div class="texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ante mi. Nullam vitae consequat mi. Proin tellus felis, dignissim et efficitur in, sagittis pulvinar nisi. Sed pretium ut risus consequat tincidunt. Nam arcu massa, sagittis non ornare id, ornare ut magna. Sed et nisl rutrum, suscipit lorem sit amet, venenatis metus. Vivamus imperdiet interdum sodales.</p>
        <p>Mauris a massa hendrerit, ornare est a, gravida dui. Ut in pharetra enim. Nulla scelerisque cursus porttitor. Mauris et mauris nec lectus porta volutpat. Cras neque nulla, vehicula non elementum at, eleifend id ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis odio ac felis lobortis feugiat et at augue. Maecenas imperdiet laoreet sem, feugiat ornare felis feugiat at. Donec et nisi varius, accumsan nulla vitae, egestas velit. Suspendisse interdum eros quis fringilla sodales.</p>
        <p>Sed posuere at justo quis ullamcorper. Donec fermentum dapibus dolor quis vulputate. Proin sed nibh metus. Nulla consectetur erat sed augue tincidunt, eu pellentesque leo elementum. Mauris vulputate feugiat ante et tristique.</p>
      </div>
    </div>
    <footer>
      <div class="center">
        <nav>
          <div class="col"><a href="index.html">Home</a><a href="institucional.html">Institucional</a><a href="produtos.html">Produtos</a><a href="cadastro.html">Cadastro</a><a href="suporte.html" class="active">Suporte</a>
          </div>
          <div class="col"><a href="normas.html">Normas para Elevadores</a><a href="cursos.html">Solicite um Curso</a><a href="orcamento.html">Orçamento</a><a href="trabalhe-conosco.html">Trabalhe Conosco</a><a href="contato.html">Contato</a>
          </div>
        </nav>
        <div class="contato">
          <p>Rua Lourdes, 560 - Nova Gerty<br>São Caetano do Sul/SP - 09571-470</p>
          <p>+55 11 4239-5544 / 4238-2555</p><a href="mailto:comercial@scanchip.com.br">comercial@scanchip.com.br</a>
        </div>
        <div class="copyright">
          <p>©2015 Scanchip<br>Todos os direitos reservados</p><a href="http://www.trupe.net" target="_blank">Criação de sites:</a><a href="http://www.trupe.net" target="_blank" class="trupe">Trupe Agência Criativa</a>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/jquery.cycle2.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/templates/suporte.jade
extends ./_template

block menu
    - var current = 'Suporte'

block content
    .title
        .center
            h2= current

    #suporte.center
        .contato
            p +55 11 #[span 4239-5544] / #[span 4238-2555]
            a(href='mailto:comercial@scanchip.com.br') comercial@scanchip.com.br
            img(src='assets/img/layout/suporte_foto.jpg')

        .texto
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ante mi. Nullam vitae consequat mi. Proin tellus felis, dignissim et efficitur in, sagittis pulvinar nisi. Sed pretium ut risus consequat tincidunt. Nam arcu massa, sagittis non ornare id, ornare ut magna. Sed et nisl rutrum, suscipit lorem sit amet, venenatis metus. Vivamus imperdiet interdum sodales.
            p Mauris a massa hendrerit, ornare est a, gravida dui. Ut in pharetra enim. Nulla scelerisque cursus porttitor. Mauris et mauris nec lectus porta volutpat. Cras neque nulla, vehicula non elementum at, eleifend id ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis odio ac felis lobortis feugiat et at augue. Maecenas imperdiet laoreet sem, feugiat ornare felis feugiat at. Donec et nisi varius, accumsan nulla vitae, egestas velit. Suspendisse interdum eros quis fringilla sodales.
            p Sed posuere at justo quis ullamcorper. Donec fermentum dapibus dolor quis vulputate. Proin sed nibh metus. Nulla consectetur erat sed augue tincidunt, eu pellentesque leo elementum. Mauris vulputate feugiat ante et tristique.
